.single {
  
  font-family: sans-serif;
}

.azul a { 
    font-size: 16pt; 
    text-transform: none;
}

.top-navbar a {
  text-transform: uppercase !important;  
}

h1 {
  text-transform: uppercase;
  margin: 50px 0 50px 0;
}

h2 {
  
  border-bottom: solid 1px;
}